.footer {
    background-color: #4d4dcb;
    padding: 10pt 20pt;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }